body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "head"
                        "main"
                        "foot";
    max-width: 100%;
    min-height: 100vh;
}

.header{
    grid-template-columns: 50px auto; 
    grid-template-rows: 70px 1fr;
    grid-template-areas: 'logo pagetitle'
                        'logo pagetitle'
                        'navbar navbar';
    max-height: none;
    font-size: 1rem;
    gap: 2vw;  
    grid-area: head;
    background-image: linear-gradient($ISVblue, rgb(0, 0, 50));
    padding: 10px 10px 20px 10px;
    color: whitesmoke;
    display: grid;
    box-shadow: 0px 2px 5px #888 , 0px -2px 5px #888 ;
    
    &__logo {
        grid-area: logo;
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    &__pagetitle {
        padding: 10px;
        grid-area: pagetitle;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

main{
    grid-area: main;
    height: 100%;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: 1rem;
    line-height: 2rem;
}

footer{
    grid-area: foot;
    padding: 16px;
    background-color:$ISVblue;
    background-image: linear-gradient(rgb(0, 0, 50), $ISVblue);
    color: whitesmoke;
    align-self: end;
    width: 100%;
    font-size: 0.8em;
    box-shadow: 0px 2px 5px #888 , 0px -2px 5px #888 ;
}